*{
    font-family: "Poppins", serif;
}
:root{
    --bg-color:#f0f6f0;
    --green-color:#70C45D;
}
span{
    color: var(--green-color);
}
#a{
    color: var(--green-color) !important;
}
li{
    a:hover{
        color: var(--green-color) !important;
    }
}
.bg1{
    background-color: var(--bg-color);
    .myBtn1{
        background-color: var(--green-color);
    }
    .myBtn2{
        color: var(--green-color);
    }
}
.myCard1{
    transition: all 200ms ease-in-out;
    svg{
        color: var(--green-color);
    }
}
.myCard1:hover{
    background-color: var(--green-color) !important;
    color: var(--bg-color) !important;
    svg{
        color: var(--bg-color);
    }
}
.myBtn3{
    background-color: var(--green-color) !important;
}
.myDiv{
    ul{
        list-style-image: url(../assets/icon/icCheck.png);
    }
}
.myBtn4{
    background-color: var(--bg-color) !important;
    color: var(--green-color) !important;
    font-size: 12px !important;
}
.mySvg{
    width: 65px !important;
    height: 65px !important;
    background-color: var(--green-color);
    display: grid;
    place-items: center;
}
.myCard3{
    border-radius: 20px !important;
    background-color: white !important;
    transition: all 200ms ease-in-out;
    a{
        transition: all 200ms ease-in-out;
    }
}
.myCard3:hover{
    border-radius: 20px !important;
    background-color: white !important;
    transform: translateY(-6px);
    a{
        color: var(--green-color) !important;
    }
}
.myBg{
    background-color: var(--green-color) !important;
    border-radius: 30px;
}
.bg2{
    background-color: var(--bg-color) !important;
    .myBtn4{
        background-color: #cfedc8 !important;
    }
}
